<app-layout-header></app-layout-header>

<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="assets/employee-avatar.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="button" class="forgotPassBtn">Forgot Password?</button>
    </div>
  </form>

<app-layout-emp-list></app-layout-emp-list>

<app-layout-footer></app-layout-footer>